# Configuração Railway
# https://docs.railway.app/reference/nixpacks

[build]
# Instala dependências do Puppeteer
aptPkgs = ["chromium", "fonts-liberation", "libnss3", "libatk-bridge2.0-0", "libcups2", "libxcomposite1", "libxrandr2", "libgbm1", "libpango-1.0-0", "libcairo2", "libasound2"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm run start"

[variables]
PUPPETEER_EXECUTABLE_PATH = "/usr/bin/chromium"
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD = "true"
